@font-face {
	font-family: "Space Mono";
	src: url('/Fonts/SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.algorithm_container {
	margin: 10px 0;
}

.title {
	font-size: 1.8rem;
	font-weight: 100;
}

.code {
	font-size: 0.8rem;
	font-weight: 100;
	white-space: pre-wrap;
	font-family: "Space Mono", monospace;

}

.description {
	font-size: 0.8rem;
	overflow-wrap: anywhere;
}

.code_div {
	padding: 10px;
	background-color: #222;
}

.space_complexity,
.time_complexity {
	font-size: 0.8rem;
	font-weight: 100;
}

.algorithm_top_div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.copy_btn {
	background: transparent;
	color: #fff;
	font-size: 0.8rem;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 4px;
	width: 70px;
	cursor: pointer;
	text-align: center;
	font-family: "Space Mono", monospace;
}

.search_input {
	background-color: transparent;
	font-size: 1rem;
	padding: 8px;
	color: #fff;
	font-family: "Space Mono", monospace;
	outline: none;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 300px;
}

.find {
	background-color: #ffff00;
	color: #000;
}

.paginated_indicator {
	margin: 50px 0;
	text-align: center;
	font-size: 1.3rem;
}

#Next_btn,
#Previous_btn {
	background: transparent;
	color: #fff;
	font-size: 0.8rem;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 4px;
	width: 60px;
	cursor: pointer;
	font-family: "Space Mono", monospace;
}

#Next_btn:disabled:hover,
#Previous_btn:disabled:hover{
	cursor: not-allowed;
}

span {
	margin: 0 10px;
	font-size: 0.8rem;
}

#no_algorithms {
	font-size: 2rem;
	font-weight: 100;
}

@media screen and (max-width: 768px) {
	body {
		width: auto;
		margin: 10px;
	}

	.paginated_indicator {
		margin: 25px 0;
	}

	#no_algorithms {
		font-size: 1rem;
	}

}

@media screen and (max-width: 568px) {
	.search_input {
		width: -webkit-fill-available;
	}
}
