:root {
	font-family: "Space Mono", monospace;
	background-color: #333;
	color: #fff;
}

@font-face {
	font-family: "Space Mono";
	src: url('/Fonts/SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	width: 70%;
	margin: auto;
}
